.form-group {
    padding-bottom: 10px;
    width: 100%;
}

.form-control {
    border-radius: 25px !important;

}

.error_class {
    border: 2px solid rgba(224, 24, 24, 0.767) !important;

}

.form-group label {
    font-weight: bold;
}